fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.container {
  display: flex;
  justify-content: space-between;
  &:first-child {
    position: relative;
    font-size: 24px;
    line-height: 31px;
  }
}
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  display: inline-block;
  bottom: 35px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: ' ';
  background-image: url("../../../assets/images/star-solid.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.rating > .half:before {
  display: block;
  content: ' ';
  background-image: url("../../../assets/images/star-half-solid.svg");
  position: absolute;
  background-size: 20px 20px;
  height: 20px;
  width: 10px;
}

.rating > label {
  color: #25333b;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { filter: invert(0.5) sepia(1) saturate(4) brightness(1.3);  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { filter: invert(0.7) sepia(1) saturate(6) brightness(2);  }
