<div class="title"><h3>All Recipes which have ingredient {{chosenIngre}}</h3></div>
<mat-card class="recipe-component" *ngFor="let recipe of recipes" routerLink="/recipe/{{recipe.id}}">
  <div>
    <div class="recipe-component__image-btn-wrapper">
      <img mat-card-image
           src={{recipe.imageSrc}}
           alt={{recipe.title}}>
    </div>

    <div class="recipe-component__info">
      <div class="recipe-component__info_title">
        <mat-card-title><h4>{{recipe.title}}</h4></mat-card-title>
        <h3>Coock duration: {{recipe.cookDuration}} min</h3>
        <mat-card-content class="recipe-component__info_title_recipe-content">
          <p>{{recipe.description}}</p>
          <p>Cuisine: {{recipe.cuisineType}}</p>
        </mat-card-content>
      </div>
    </div>
  </div>

  <div class="recipe-component__buttons">
    <div>
      <p class="recipe-component__rating">Rating: {{recipe.rating | number}}</p>
    </div>
  </div>

</mat-card>

<div *ngIf="(recipes)?.length < 1">
  <hr>
  <p id="noRecipesFound">
    No recipes found ☹
  </p>
</div>
