<section>
  <h3>Check out your fridge and say what you have!</h3>
  <div class='home-search'>
      <div class='fridge-left'>
        <div class="shelfs" #fridgeList1='cdkDropList' cdkDropList (cdkDropListDropped)="drop($event)">
                <div cdkDrag data-name="garlic"><img src="../../../assets/images/food-images/garlic.png" alt="garlic"></div>
                <div cdkDrag data-name="tomato"><img src="../../../assets/images/food-images/tomato.png" alt="tomato"></div>
                <div cdkDrag data-name="onion"><img src="../../../assets/images/food-images/onion.png" alt="onion"></div>
                <div cdkDrag data-name="beef"><img src="../../../assets/images/food-images/beef.png" alt="beef" ></div>
                <div cdkDrag data-name="almond"><img src="../../../assets/images/food-images/almond.png" alt="almond"></div>
                <div cdkDrag data-name="anise"><img src="../../../assets/images/food-images/anise.png" alt="anise"></div>
                <div cdkDrag data-name="apple"><img src="../../../assets/images/food-images/apple.png" alt="apple"></div>
                <div cdkDrag data-name="bacon"><img src="../../../assets/images/food-images/bacon.png" alt="bacon"></div>
                <div cdkDrag data-name="baguette"><img src="../../../assets/images/food-images/baguette.png" alt="baguette"></div>
                <div cdkDrag data-name="beetroot"><img src="../../../assets/images/food-images/beetroot.png" alt="beetroot"></div>
                <div cdkDrag data-name="butter"><img src="../../../assets/images/food-images/butter.png" alt="butter"></div>
                <div cdkDrag data-name="cabbage"><img src="../../../assets/images/food-images/cabbage.png" alt="cabbage"></div>
        </div>
      </div>

      <div class="left-arrow">
          <h4>Drag and Drop</h4>
          <mat-icon>arrow_forward</mat-icon>
      </div>

      <div class="search-by-ingredients">
        <div class="search-form">
          <mat-form-field>
            <input matInput #searchBox placeholder="Enter ingredient" (input)="search(searchBox.value)" autocomplete="off" [(ngModel)]="choosenIngr" (keydown.enter)="addIngredientToList()"/>
            <mat-list class="search-result" #searchHintList>
                <mat-list-item *ngFor="let ingredient of ingredients$ | async" (click)="addToInput(ingredient)"> {{ingredient}} </mat-list-item>
            </mat-list>
          </mat-form-field>
          <button mat-flat-button (click)="addIngredientToList()">Add</button>
        </div>

        <div class="search-list" #ingredientList (mouseover)="isMouseOverList=true" (mouseleave)="isMouseOverList=false">
          <h3>Your Ingredients</h3>
          <div class="search-list-table">
              <mat-list>
                  <mat-list-item *ngFor="let ingredient of choosenIngredients">
                     <p>- {{ingredient}}</p>
                    <mat-icon (click)='deleteIngredient(ingredient)'>clear</mat-icon>
                  </mat-list-item>
                </mat-list>
          </div>
        </div>

        <form class="search-recipies">
            <button mat-flat-button>Search Recipes</button>
          </form>
      </div>

      <div class="right-arrow">
          <h4>Drag and Drop</h4>
          <mat-icon>arrow_back</mat-icon>
      </div>

      <div class='fridge-right'>
          
      </div>
  </div>
</section>
