section {
  background-image: url('../../../assets/images/food-pattern.jpg');

  .home-img {
    img {
      width: 100%;
      max-height: 70vh;
    }
  }

  h3 {
    text-align: center;
  }

  .home-search {
    display: flex;
    justify-content: space-around;

    * {
      flex: 1 1 0px;
    }

    img {
      max-width: 580px;
    }

    .center {
      text-align: center;
      margin-top: 50px;

      input,
      button {
        border-radius: 8px;
        outline: none;
      }
    }
  }
}
