<section>
    <div class='home-img'>
        <img src='../../../assets/images/food.jpg' alt='food'>
    </div>
    <h3>Check out your fridge and say what you have!</h3>
    <div class='home-search'>
        <div class='left'>
            <img src='../../../assets/images/fridge-left.png' alt="fridge">
        </div>
        <div class='center'>
            <input type="text" placeholder="ingredient">
            <div></div>
            <button>Search</button>
        </div>
        <div class='right'>
            <img src='../../../assets/images/fridge-right.png' alt="fridge">
        </div>

    </div>
</section>