<section>
    <div class='home-img'>
        <img src='../../../assets/images/Home-bg.jpg' alt='food'>
    </div>
    <h3>Check out your fridge and say what you have!</h3>
    <div class='home-search'>
        <div class='left'>
            <img src='../../../assets/images/fridge-left.png' alt="fridge">
        </div>
        <form class="search-form">
            <mat-form-field>
              <input matInput placeholder="Enter ingredients" />
            </mat-form-field>
            <button mat-flat-button>Search</button>
          </form>
        <div class='right'>
            <img src='../../../assets/images/fridge-right.png' alt="fridge">
        </div>
    </div>
</section>
