<mat-tab-group *ngIf="isLoggedIn; else isLoggedOut">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Favorite
    </ng-template>
    <h3>List of your favorite recipes</h3>
    <div>

      <mat-card class="recipe-component" *ngFor="let recipe of recipes"
                (click)="viewDetails(recipe)">
        <div>
          <div class="recipe-component__image-btn-wrapper">
            <img mat-card-image
                 src={{recipe.imageSrc}}
                 alt={{recipe.title}}>
          </div>

          <div class="recipe-component__info">
            <div class="recipe-component__info_title">
              <mat-card-title><h4>{{recipe.title}}</h4></mat-card-title>
              <h3>Coock duration: {{recipe.cookDuration}} min</h3>
              <mat-card-content class="recipe-component__info_title_recipe-content">
                <p>{{recipe.description}}</p>
                <p>Cuisine: {{recipe.cuisineType}}</p>
              </mat-card-content>
            </div>
          </div>
        </div>

      </mat-card>

      <div *ngIf="recipes?.length < 1">
          <hr>
          <p class="noRecipesFound">
            No favorite recipes yet ☹
          </p>
        </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">room_service</mat-icon>
      My recipes
    </ng-template>
    <div class='my-recipes'>
      <div class='my-recipes-list'>
        <h4>My recipes</h4>
        <div class='my-recipes-btn'>
          <button mat-stroked-button (click)='addCustomerRecipe()'>Add new</button>
        </div>
        <mat-card class="recipe-component" *ngFor="let recipe of recipes$ | async" (click)="viewDetails(recipe)">
          <div>
            <div class="recipe-component__image-btn-wrapper">
              <img mat-card-image
                   src={{recipe.imageSrc}}
                   alt={{recipe.title}}>
            </div>

            <div class="recipe-component__info">
              <div class="recipe-component__info_title">
                <mat-card-title><h4>{{recipe.title}}</h4></mat-card-title>
                <h3>Coock duration: {{recipe.cookDuration}} min</h3>
                <mat-card-content class="recipe-component__info_title_recipe-content">
                  <p>{{recipe.description}}</p>
                </mat-card-content>
              </div>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #isLoggedOut>
  <hr>
  <p class="isLoggedOut">
    Please log in first to see this page
  </p>
</ng-template>
