<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Favorite
    </ng-template>
    <h3>List of your favorite recipes</h3>
    <div *ngIf = 'favorite'>
      <ul>
        <li *ngFor='let favorite of favorites'>Here should be recipes which was liked by user</li>
      </ul>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">room_service</mat-icon>
      My recipes 
    </ng-template>
    <div class='my-recipes'>
      <div class='my-recipes-list'>
        <h4>My recipes</h4>
        <div *ngIf = 'userRecipe'>
          <ul>
            <li *ngFor='let userRecipe of userRecipes'>Here should be recipes which was created by user</li>
          </ul>
        </div>
      </div>
      <div class='my-recipes-btn'> 
        <button mat-stroked-button (click)='addCustomerRecipe()'>Add new</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>