@import "../../../variables";

mat-tab-group {
  color: #25333B;
  text-align: center;
  .recipe-component {
    max-width: 700px;
    margin: 10px auto;
    background-color: white;
    color: $gray;
    box-shadow: 0 2px 5px -1px #25333b9c, 0 1px 4px 0 rgba(0, 0, 0, .14), 0 1px 10px 5px rgba(0, 0, 0, .12);
    div {
      display: flex;
      justify-content: space-between;
      .recipe-component__image-btn-wrapper {
        .mat-card-image {
          max-height: 300px;
          width: 350px;
          margin: 0 0 10px;
          box-shadow: 0 2px 5px -1px #25333b9c, 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 5px rgba(0, 0, 0, 0.12);
        }
      }
      .recipe-component__info {
        display: block;
        margin-left: 16px;
        .recipe-component__info_title {
          display: block;
          text-align: center;
          width: 350px;
          h4 {
            margin: 40px 0 20px;
          }
          .recipe-component__info_title_recipe-content {
            font-size: 20px;
          }
        }
        .mat-card-actions {
          margin: 0;
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $green-light_opacity35;
    }
  }

  .noRecipesFound {
    text-align: center;
  }
  .my-recipes {
    display: flex;
    align-items: center;
    * {
      flex: 50%;
    }

  }
}

.remove-btn {
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  background: #ffd5d2;
  transition: 0.3s;
  margin-bottom: 10px;
  &:hover {
    transition: 0.3s;
    background-color: red;
  }
}

.isLoggedOut {
  text-align: center;
}

.spinner {
  margin: 30vh auto;
}
