<header>
  <div class="logo" routerLink=""><img src="assets/images/cookbook.png"><span>CookBook</span></div>
  <form class="search-form" *ngIf="clicked">
    <mat-form-field>
      <input matInput type="text" #searchBox (input)="search(searchBox.value)" autocomplete="off"
             [(ngModel)]="chosenRecpTitle" [ngModelOptions]="{standalone: true}" (blur)="toggleFocus()"
             (keydown.enter)="openRecipeEnterKey()"  (keydown.arrowdown)="arrowDown()" (keydown.arrowup)="arrowUp()"
             placeholder="Enter recipe name" appAutofocus/>
      <mat-list class="search-result" #searchHintList>
        <mat-list-item *ngFor="let recipe of recipes$ | async" (click)="openRecipe(recipe)"
                       [class.chosen-ingr]="chosenRecpTitle === recipe.title">
          {{recipe.title}}
        </mat-list-item>
      </mat-list>
    </mat-form-field>
  </form>
  <button class="log-btn" mat-button *ngIf="!clicked" (click)="toggleFocus()">
    Search
    <mat-icon>search</mat-icon>
  </button>
  <button class="log-btn" routerLink="/recipes_list" mat-button>
    All recipes
   </button>
  <button class="log-btn" routerLink="/ingredient_search" mat-button>
    All ingredients
  </button>
  <button class="log-btn" mat-button routerLink="/login" *ngIf="!this.checkLogInService.isUserLogIn">Sing In</button>
  <button  class="log-btn" mat-button  routerLink="/profile" *ngIf="this.checkLogInService.isUserLogIn">
    <mat-icon class="user-icon">library_books</mat-icon>
  </button>
  <button mat-button  class="log-btn" (click)="toggle()" *ngIf="this.checkLogInService.isUserLogIn">
    <mat-icon class="user-icon">face</mat-icon>
  </button>
</header>
<div [ngClass]="{invisible: visibility}" class="profile-form">
  <ngx-auth-firebaseui-user appearance="outline" (onSignOut)="catchLogOutEvent()"></ngx-auth-firebaseui-user>
</div>
