$base-color: #25333B;
$border: 1px solid $base-color;

header {
    display: flex;
    align-items: center;
    color: #9AA8B3;
    background: #25333B;
    font-size: 19px;
    padding: 0 10px;
    height: 77px;

    .logo {
        margin-right: auto;
        font-size: 25px;
        cursor: pointer;
    }

    .search-form {
      margin-top: 15px;
      button {
        margin-left: 10px;
      }
      .search-result{
        margin-top: 0;
        padding-left: 0;
        z-index: 1000;
        position: absolute;
        .chosen-ingr{
          background-color: rgb(163, 221, 97);
        }
        mat-list-item{
          color: $base-color;
          border-bottom: $border;
          border-left: $border;
          border-right: $border;
          width: 195px;
          height: auto;
          padding: 5px;
          background-color: white;
          cursor: pointer;
          list-style-type: none;
          &:hover{
            background-color: rgb(163, 221, 97);
          }
        }
        #search-box {
          width: 200px;
          height: 20px;
        }
      }
    }
    .log-btn {
      font-size: 19px;
      display: flex;
      align-items: center;
    }


  .user-icon {
        font-size: 29px;
    }

}

.invisible {
    display: none;
}

.profile-form {
    width: 300px;
    position: absolute;
    right: 0;
}
