<header>
  <div class="logo" routerLink="">Logo</div>
  <form class="search-form" *ngIf="clicked">
    <mat-form-field>
      <input matInput #searchRecipe (blur)="handleInpSearch()" placeholder="Enter recipe name" />
    </mat-form-field>
  </form>
  <button class="log-btn" mat-button *ngIf="!clicked" (click)="handleNavSearch()">
    Search <mat-icon>search</mat-icon>
  </button>
  <button class="log-btn" mat-button routerLink="/login">Sing In</button>
  <button mat-button routerLink="/profile">
    <mat-icon class="user-icon">face</mat-icon>
  </button>
</header>
