header {
    display: flex;
    align-items: center;
    color: #9AA8B3;
    background: #25333B;
    font-size: 19px;
    padding: 0 10px;
    height: 77px;

    .logo {
        margin-right: auto;
        font-size: 25px;
        cursor: pointer;
    }

    .search-form {
      margin-top: 15px;
      button {
        margin-left: 10px;
      }
    }
    .log-btn {
      font-size: 19px;
      display: flex;
      align-items: center;
    }


  .user-icon {
        font-size: 29px;
    }

}

.invisible {
    display: none;
}

.profile-form {
    width: 300px;
    position: absolute;
    right: 0;
}
