@import "../../../variables";
$border: 1px solid $gray;

header {
    display: flex;
    align-items: center;
    color: $gray-light;
    background: $gray;
    font-size: 19px;
    padding: 5px;
    height: 78px;

    .logo {
        display: inline-block;
        outline: none;
        margin-right: auto;
        cursor: pointer;

        p {
            font-size: 25px;
            display: inline-block;
            padding-left: 5px;
            color: $green;
        }

        img {
            max-width: 40px;
            vertical-align: middle;
        }
    }

    .search-form {
        button {
            margin-left: 10px;
        }

        .search-result {
            margin-top: 0;
            padding-left: 0;
            z-index: 1000;
            position: absolute;

            .chosen-ingr {
                background-color: $green-light;
            }

            mat-list-item {
                color: $gray;
                border-bottom: $border;
                border-left: $border;
                border-right: $border;
                width: 195px;
                height: auto;
                padding: 5px;
                background-color: white;
                cursor: pointer;
                list-style-type: none;

                &:hover {
                    background-color: $green-light;
                }
            }
        }
    }

    .log-btn {
        font-size: 19px;
        display: flex;
        align-items: center;

        &:hover {
            color: $green-light;
        }
    }


    .user-icon {
        font-size: 29px;
    }

}

.invisible {
    display: none;
}

.profile-form {
    width: 350px;
    position: absolute;
    right: 0;
    z-index: 2;
}
