header{
    background: #25333B;

    .navigation{
        width: 80%;
        margin: 0 auto;
        padding: 0;

        nav{
        
            ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                margin: 0; 
                padding: 0;
            
                li{
                    
                    input{
                        outline: none;
                        border-radius: 8px;
                    }
                    .search{
                        outline: none;
                        width:120px;
                        border-radius: 8px;
                        background-color: #B9D994;
                        color: #25333B;
                        font-weight: bold;
                    }

                    a{
                        display: block;
                        color: white;
                        font-size: 14px;
                        padding: 10px;
                        &:hover {
                            color: #B9D994;
                        }
                    }
                    
                }
                
                .logo{
                    margin-right: auto;
                    font-weight: bold;
                }
            }
        }
    }
}