<mat-card class="recipe-component">

  <div>
    <div class="recipe-component_image-btn-wrapper">
      <img mat-card-image
           src={{recipe.imageSrc}}
           alt={{recipe.title}}>
      <div class="recipe-component__buttons">
        <mat-card-actions>
          <button mat-button><mat-icon>favorite_border</mat-icon></button>
          <button mat-button><mat-icon>share</mat-icon></button>
        </mat-card-actions>
        <mat-card-actions class="recipe-component__buttons_rate">
          <button mat-button><mat-icon>star_border</mat-icon></button>
          <button mat-button><mat-icon>star_border</mat-icon></button>
          <button mat-button><mat-icon>star_border</mat-icon></button>
          <button mat-button><mat-icon>star_border</mat-icon></button>
          <button mat-button><mat-icon>star_border</mat-icon></button>
        </mat-card-actions>
      </div>
    </div>

    <div class="recipe-component__info">
      <div class="recipe-component__info_title">
        <mat-card-title>{{recipe.title}}</mat-card-title>
        <h6>Coock duration: {{recipe.cookDuration}} min</h6>
      </div>

      <div class="recipe-component__info_ingredients">
        <h5>Ingredients:</h5>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients"><mat-card-subtitle>{{ingredient}}</mat-card-subtitle></li>
        </ul>
      </div>
    </div>
  </div>



  <mat-card-content class="recipe-component__recipe-content">
    <p>{{recipe.steps}}</p>
  </mat-card-content>

</mat-card>
<button class="back-btn" mat-button (click)="goBack()">Go back to recipes list <mat-icon>keyboard_backspace</mat-icon></button>
