<div *ngIf="recipe$ | async as recipe">
  <mat-card class="recipe-component">

    <div>
      <div class="recipe-component_image-btn-wrapper">
        <img mat-card-image
             src={{recipe.imageSrc}}
             alt={{recipe.title}}>
        <div class="recipe-component__buttons">
          <mat-card-actions>
            <button mat-button (click)="handleFavorite()">
              <mat-icon>{{favorite}}</mat-icon>
            </button>
            <app-share></app-share>
          </mat-card-actions>

          <app-star-rating *ngIf="currentUser; else isNotLoggedIn" [recipeId]="recipeId"
                           [userId]="userId"></app-star-rating>
          <ng-template #isNotLoggedIn>
            <p class="recipe-component__buttons--isNotLoggedIn">
              Rating {{recipe.rating | number}}
            </p>
          </ng-template>

        </div>
      </div>

      <div class="recipe-component__info">
        <div class="recipe-component__info_title">
          <mat-card-title>{{recipe.title}}</mat-card-title>
          <h6>Coock duration: {{recipe.cookDuration}} min</h6>
        </div>

        <div class="recipe-component__info_ingredients">
          <h5>Ingredients:</h5>
          <div>
            <p *ngFor="let ingredient of recipe.ingredients">
              <mat-card-subtitle>{{ingredient}}</mat-card-subtitle>
            </p>
          </div>
        </div>
      </div>
    </div>

    <mat-card-content class="recipe-component__recipe-content">
      <h3>Steps:</h3>
      <ol>
        <li *ngFor="let step of recipe.steps">{{step}}</li>
      </ol>

    </mat-card-content>

  </mat-card>
  <button class="back-btn" mat-button (click)="goBack()">Go back to recipes list
    <mat-icon>keyboard_backspace</mat-icon>
  </button>

  <mat-card id="videos">
    <mat-card-title>You might like to watch:</mat-card-title>
    <div>
      <iframe *ngFor="let url of recipe.videos" width="360" height="205"
              [src]="('https://www.youtube.com/embed/' + url) | safe" frameborder="0" allowfullscreen></iframe>
    </div>

  </mat-card>
</div>
