<mat-card class="recipe-card">

  <div>
    <img mat-card-image
         src="https://www.bbcgoodfood.com/sites/default/files/styles/category_retina/public/recipe-collections/collection-image/2013/05/slow-cooker-lamb-curry.jpg"
         alt="Name of recipe dish">
    <div class="info">
      <div class="title">
        <mat-card-title>Recipe name Lorem ipsum dolor sit amet, consectetur adipisicing elit. </mat-card-title>
      </div>

      <div class="ingredients">
        <h5>Ingredients:</h5>
        <ul>
          <li><mat-card-subtitle>ingredient 1</mat-card-subtitle></li>
          <li><mat-card-subtitle>Second ingredient 2</mat-card-subtitle></li>
          <li><mat-card-subtitle>ingredient number three</mat-card-subtitle></li>
          <li><mat-card-subtitle>ingredient 4</mat-card-subtitle></li>
          <li><mat-card-subtitle>ingredient 5</mat-card-subtitle></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="btnWrapper">
    <mat-card-actions>
      <button mat-button><mat-icon>favorite_border</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
    <mat-card-actions class="rate">
      <button mat-button><mat-icon>star_border</mat-icon></button>
      <button mat-button><mat-icon>star_border</mat-icon></button>
      <button mat-button><mat-icon>star_border</mat-icon></button>
      <button mat-button><mat-icon>star_border</mat-icon></button>
      <button mat-button><mat-icon>star_border</mat-icon></button>
    </mat-card-actions>
  </div>

      <mat-card-content class="recipe-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eaque error eum eveniet impedit,
          molestiae
          nam quam quasi ullam voluptatum! Consectetur debitis dolore natus possimus veritatis. Nulla quae saepe
          voluptate.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, at, beatae culpa dignissimos distinctio
          ducimus, eius enim est impedit iusto labore magni nisi nostrum odit provident quae quam suscipit voluptatem?
        </p>
      </mat-card-content>

</mat-card>
