<mat-card class="recipe-component" *ngFor="let recipe of recipes$ | async" routerLink="/recipe/{{recipe.id}}">

  <div>
    <div class="recipe-component__image-btn-wrapper">
      <img mat-card-image
           src={{recipe.imageSrc}}
           alt={{recipe.title}}>
    </div>

    <div class="recipe-component__info">
      <div class="recipe-component__info_title">
        <mat-card-title><h4>{{recipe.title}}</h4></mat-card-title>
        <h3>Coock duration: {{recipe.cookDuration}} min</h3>
        <mat-card-content class="recipe-component__info_title_recipe-content">
          <p>{{recipe.description}}</p>
          <p>Cuisine: {{recipe.cuisineType}}</p>
        </mat-card-content>
      </div>
    </div>
  </div>

  <div class="recipe-component__buttons">
    <mat-card-actions>
      <button mat-button disabled>
        <mat-icon *ngIf="recipe.isFavorite; else isNotFavorite">favorite</mat-icon>
        <ng-template #isNotFavorite>
          <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <p class="recipe-component__rating">Rating: {{recipe.rating}}</p>
    </mat-card-actions>
  </div>

</mat-card>

<div *ngIf="(recipes$ | async)?.length < 1">
  <hr>
  <p id="noRecipesFound">
    No recipes found ☹
  </p>
</div>
