@import '~@angular/material/theming';
@include mat-core();

.profile-form {
    ngx-auth-firebaseui-user {
        font-size: 14px;
    }
    mat-card {
        z-index: 2;
    }
}

.login-form {
    ngx-auth-firebaseui {
        mat-icon {
            vertical-align: middle !important;
        }

        .mat-form-field-suffix {
            display: flex;
            align-items: center;
        }
    }
}


$green-app-primary: mat-palette($mat-green, 900);
$green-app-accent: mat-palette($mat-pink, A200, A100, A400);
$green-app-warn: mat-palette($mat-red);
$green-app-theme: mat-light-theme($green-app-primary,
$green-app-accent,
$green-app-warn);

@include angular-material-theme($green-app-theme);