@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "green_theme.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~@ngx-share/button/themes/material/material-light-theme";
@import "./variables";


body{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 18px;
}
a {
    text-decoration: none;
}
.rating {
  margin: 0;
  .star.medium, .rating.medium .star {
    width: 25px;
    height: 22px;
  }
  .label-value.medium, .rating.medium .label-value {
    line-height: 18px;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1FECB6;
}
